In [12]:
import pandas as pd

# Load the three splits
train_df = pd.read_csv("data/multimodal_train.tsv", sep="\t")
test_df  = pd.read_csv("data/multimodal_test_public.tsv", sep="\t")
val_df   = pd.read_csv("data/multimodal_validate.tsv", sep="\t")

# Concatenate them
full_df = pd.concat([train_df, test_df, val_df], axis=0, ignore_index=True)

full_df.head()

,author,clean_title,created_utc,domain,hasImage,id,image_url,linked_submission_id,num_comments,score,subreddit,title,upvote_ratio,2_way_label,3_way_label,6_way_label
0,Alexithymia,my walgreens offbrand mucinex was engraved wit...,1.551641e+09,i.imgur.com,True,awxhir,https://external-preview.redd.it/WylDbZrnbvZdB...,NaN,2.0,12,mildlyinteresting,My Walgreens offbrand Mucinex was engraved wit...,0.84,1,0,0
1,VIDCAs17,this concerned sink with a tiny hat,1.534727e+09,i.redd.it,True,98pbid,https://preview.redd.it/wsfx0gp0f5h11.jpg?widt...,NaN,2.0,119,pareidolia,This concerned sink with a tiny hat,0.99,0,2,2
2,prometheus1123,hackers leak emails from uae ambassador to us,1.496511e+09,aljazeera.com,True,6f2cy5,https://external-preview.redd.it/6fNhdbc6K1vFA...,NaN,1.0,44,neutralnews,Hackers leak emails from UAE ambassador to US,0.92,1,0,0
3,NaN,puppy taking in the view,1.471341e+09,i.imgur.com,True,4xypkv,https://external-preview.redd.it/HLtVNhTR6wtYt...,NaN,26.0,250,photoshopbattles,PsBattle: Puppy taking in the view,0.95,1,0,0
4,3rikR3ith,i found a face in my sheet music too,1.525318e+09,i.redd.it,True,8gnet9,https://preview.redd.it/ri7ut2wn8kv01.jpg?widt...,NaN,2.0,13,pareidolia,I found a face in my sheet music too!,0.84,0,2,2

In [13]:
full_df.shape

(682661, 16)

In [14]:
num_ones = (full_df["2_way_label"] == 1).sum()
num_zeros = (full_df["2_way_label"] == 0).sum()

print(f"Number of Ones: {num_ones}, Number of Zeros: {num_zeros}")

Number of Ones: 268908, Number of Zeros: 413753

In [15]:
text = "three corgis larping at the beach"
text = "volcanic eruption in bali last night"
text = "nascar race stops to wait for family of ducks to pass"

(full_df["clean_title"] == text).any()

True

In [16]:
full_df[full_df["clean_title"] == text]

,author,clean_title,created_utc,domain,hasImage,id,image_url,linked_submission_id,num_comments,score,subreddit,title,upvote_ratio,2_way_label,3_way_label,6_way_label
580149,GriffonsChainsaw,nascar race stops to wait for family of ducks ...,1.535834e+09,sports.theonion.com,True,9c6dqg,https://external-preview.redd.it/0nNruWNnb08pn...,NaN,7.0,591,theonion,NASCAR Race Stops To Wait For Family Of Ducks ...,0.97,0,2,1

In [17]:
full_df['6_way_label'].value_counts()

6_way_label
0    268908
4    203139
2    129795
1     40516
5     26057
3     14246
Name: count, dtype: int64

## Check 6 way label splits

In [18]:
cleaned_train_df = pd.read_csv("cleaned_data/train.csv")
cleaned_val_df  = pd.read_csv("cleaned_data/validation.csv")
cleaned_test_df   = pd.read_csv("cleaned_data/test.csv")

In [19]:
full_df['6_way_label'].value_counts()

6_way_label
0    268908
4    203139
2    129795
1     40516
5     26057
3     14246
Name: count, dtype: int64

In [20]:
cleaned_train_df['6_way_label'].value_counts()

6_way_label
0    18440
2     8857
1     2806
5     1898
3     1062
4      261
Name: count, dtype: int64

In [21]:
cleaned_val_df['6_way_label'].value_counts()

6_way_label
0    18464
2     8954
1     2802
5     1792
3     1011
4      293
Name: count, dtype: int64

In [22]:
cleaned_test_df['6_way_label'].value_counts()

6_way_label
0    18614
2     8908
1     2792
5     1874
3     1012
4      319
Name: count, dtype: int64

## Check 3 way label splits